@charset "UTF-8";

/* Header */
$header-height: 120px;
$nav-height: 50px;

/* Footer */
$footer-height: 40px;

/* Color */
$main-color-light:  hsl(350, 75%, 89%);
$main-color-normal:  hsl(350, 77%, 87%);
$main-color-dark: hsl(350, 100%, 81%);
