@charset "UTF-8";

@import 'com.scss';

$footer-color: hsl(0, 10%, 70%);

.footer {
  height: $footer-height;
  background-color: $footer-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .copyright {
    text-decoration: underline;
  }

}
