@charset "UTF-8";

$footer-color: hsl(0, 10%, 70%);

.footer {
  height: 40px;
  background-color: $footer-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .copyright {
    text-decoration: underline;
  }

}
