@charset "UTF-8";

$header-height: 120px;
$nav-height: 50px;

.header {
  height: $header-height;
  background-color: cyan;
  position: relative;

  .title {
    font-size: 5rem;
    position: absolute;
    left: 20px;
    top: ($header-height / 2);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }

  .title-fixed {
    font-size: 2.0rem;
    position: fixed;
    top: ($nav-height / 2);
    transform: translateY(-50%);
  }

  .top-bar {
    position: absolute;
    top: 5px;
    right: 20px;
    height: 20px;
    width: 200px;
    border-radius: 10px;
    background-color: blue;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .top-bar-btn {
      font-size: 1.6rem;
      color: white;
      width: 60px;
      cursor: pointer;
      text-align: center;
      font-weight: bold;
      transition: color 250ms;
      &:hover {
        color: red;
        transition: color 500ms;
      }
    }
  }

  .top-bar-fixed {
    position: fixed;
    top: ($nav-height / 2);
    transform: translateY(-50%);
    right: 350px;
  }

  .nav {
    position: absolute;
    top: ($header-height - $nav-height);
    height: $nav-height;
    width: 100%;
    background-color: cyan;
    z-index: 1;
    .nav-list {
      position: absolute;
      top: ($nav-height / 2);
      transform: translateY(-50%);
      right: 0px;
      padding-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 300px;
      .nav-list-item {
        font-size: 2rem;
        cursor: pointer;
        color: black;
        transition: color 250ms;
        &:hover {
          color: red;
          transition: color 500ms;
        }
      }
    }
  }

  .nav-fixed {
    position: fixed;
    top: 0px;
  }
}
