@charset "UTF-8";

$header-height: 120px;
$nav-height: 50px;

$header-color: hsl(0, 80%, 60%);
$top-bar-color: hsl(0, 70%, 40%);
$header-font-color: white;

@mixin slideIn-underline()
{
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: gray;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

@mixin slideIn-underline-hover()
{
  transform: scale(1, 1);
}

.header {
  height: $header-height;
  background-color: $header-color;
  color: $header-font-color;
  position: relative;

  .modal-area {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.8);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
      $modal-width: 600px;
      width: $modal-width;
      height: 310px;
      border-radius: 10px;
      background-color: white;
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
      position: relative;
      .login-grid {
        $margin-top: 30px;
        margin-top: $margin-top;
        width: $modal-width - $margin-top * 2;
        height: 180px;
        border-radius: 5px;
        background-color: hsl(0, 100%, 88%);
        display: grid;
        $label-width: ($modal-width - $margin-top * 2) / 3;
        $input-width: ($modal-width - $margin-top * 2) - $label-width;
        grid-template-columns: $label-width $input-width;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        .item {
          border-radius: 5px;
          height: 30px;
          background-color: hsl(0, 100%, 95%);
          .flex-label {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .flex-input {
            height: inherit;
            width: inherit;
            display: flex;
            align-items: center;
          }
        }
        .label {
          display: inline-block;
          margin-left: 30px;
          width: 100px;
          text-align: center;
        }
        .input {
          padding-left: 8px;
          width: 320px;
          input {
            width: inherit;
            height: inherit;
            margin-right: 8px;
          }
        }
      }
      .btn {
        position: absolute;
        bottom: 30px;
        width: 120px;
        height: 35px;
        text-align: center;
        color: black;
        background-color: hsl(0, 100%, 88%);
        &:hover {
          border: 3px solid red;
          transition: border 100ms;
        }
        &:active {
          background-color: hsla(0, 100%, 88%, 0.7);
        }
      }
      .login-btn {
        right: 30px;
      }
      .test-login-btn {
        left: 30px;
      }
      .login-fail {
        position: absolute;
        bottom: 22px;
        width: 120px;
        height: 35px;
        text-align: center;
        right: 180px;
        color: red;
        font-weight: bold;
        text-align: center;
        .login-fail-anime {
          animation: 1s fadeIn;
        }
        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }

  .title {
    font-size: 5rem;
    position: absolute;
    left: 80px;
    top: ($header-height / 2);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }

  .title-fixed {
    font-size: 2.8rem;
    position: fixed;
    top: ($nav-height / 2);
    transform: translateY(-50%);
  }

  .top-bar {
    position: absolute;
    top: 5px;
    right: 20px;
    height: 30px;
    width: 200px;
    border-radius: 15px;
    background-color: $top-bar-color;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .top-bar-btn {
      font-size: 1.8rem;
      color: white;
      width: 70px;
      cursor: pointer;
      text-align: center;
      font-weight: bold;
      transition: color 250ms;
      position: relative;
      &:hover {
        background-color: gray;
        border-radius: 1em;
        transition: background-color 500ms;
      }
    }
  }

  .top-bar-fixed {
    position: fixed;
    top: ($nav-height / 2);
    transform: translateY(-50%);
    right: 400px;
  }

  .nav {
    position: absolute;
    top: ($header-height - $nav-height);
    height: $nav-height;
    width: 100%;
    background-color: $header-color;
    z-index: 1;
    .nav-list {
      position: absolute;
      top: ($nav-height / 2);
      transform: translateY(-50%);
      right: 0px;
      padding-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 350px;
      .nav-list-item {
        font-size: 2.4rem;
        cursor: pointer;
        color: $header-font-color;
        transition: color 250ms;
        position: relative;
        &:after {
          @include slideIn-underline();
        }
        &:hover:after {
          // color: red;
          // transition: color 500ms;
          @include slideIn-underline-hover();
        }
      }
    }
  }

  .nav-fixed {
    position: fixed;
    top: 0px;
  }

  .hidden {
    visibility: hidden;
  }
}
