<div class='title-area'>
  <p class='title'>CONTACT</p>
</div>
<div class='desc-area'>
  <div class='desc'>
    author : hogehoge <br><br>
    twitter : @piyopiyo <br><br>
    email : fugafuga@mail.com <br>
  </div>
</div>
