<div class='main'>
  <div class='side-menu'>
    <ul class='side-menu-list'>
      <% 3.times do |num| %>
        <li class='item'>menu<%= num %></li>
      <% end %>
    </ul>
  </div>
  <div class='main-menu'>
    <div class='grid'>
      <% 13.times do |num| %>
        <div class='item'>
          <div class='contents'></div>
          <div class='describe'></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
