<div class='main'>
  <div class='side-menu'>
    <ul class='side-menu-list'>
      <% 3.times do |num| %>
        <li class='item'>menu<%= num %></li>
      <% end %>
    </ul>
  </div>
  <div class='main-menu'>
    <div class='grid'>
      <% 16.times do |num| %>
        <%= link_to num, {method: 'post'}, {class: 'item'} %>
      <% end %>
    </div>
  </div>
</div>
